@import '@gavant/ember-validations/variables';

.input-validator {
    &.is-invalid {
        .custom-select,
        .form-control  {
            border-color: $input-validator-invalid-color;
        }
        .form-check-label {
            color: $input-validator-invalid-color;
        }

    }
    .input-validator-error {
        min-height: $input-validator-error-min-height;
        padding-top: $input-validator-error-padding-top;
        .invalid-feedback {
            display: block;
            margin-top: 0;
        }
    }
}
